################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs


*.db
/dependencies/scripts/output
/Debug
/Release
/ARM
/PixelEffect/PixelEffect.Android/ARM/Debug
/PixelEffect/PixelEffect.Android/ARM/Release
/PixelEffect/PixelEffect.ModelImporter/Debug
/PixelEffect/PixelEffect.ModelImporter/Release
/PixelEffect/PixelEffect.Windows/Release
/PixelEffect/PixelEffect.Windows/Debug
/WindowsApp/Debug
/WindowsApp/Release
/AndroidApp/.gradle
/AndroidApp/.idea
/AndroidApp/app/build
/WindowsApp/input-distance-pass9.png
/WindowsApp/input-distance-pass8.png
/WindowsApp/input-distance-pass7.png
/WindowsApp/input-distance-pass6.png
/WindowsApp/input-distance-pass5.png
/WindowsApp/input-distance-pass4.png
/WindowsApp/input-distance-pass3.png
/WindowsApp/input-distance-pass2.png
/WindowsApp/input-distance-pass1.png
/WindowsApp/input-distance-init.png
/WindowsApp/input-color-pass9.png
/WindowsApp/input-color-pass8.png
/WindowsApp/input-color-pass7.png
/WindowsApp/input-color-pass6.png
/WindowsApp/input-color-pass5.png
/WindowsApp/input-color-pass4.png
/WindowsApp/input-color-pass3.png
/WindowsApp/input-color-pass2.png
/WindowsApp/input-color-pass1.png
/WindowsApp/input-color-init.png
/WindowsApp/distanceMap.png
/WindowsApp/color.png
/WindowsApp
